<div>
  <p><strong><%= link_to kitten.name, kitten_path(kitten.id) %></strong></p>
  <ul>
    <li>Age: <%= kitten.age %></li>
    <li>Cutenss: <%= kitten.cuteness %></li>
    <li>Softness: <%= kitten.softness %></li>
  </ul>
</div>