<h1>Kittens</h1>

<%= render 'show_flash' %>

<ul>
  <li><%= link_to 'New', new_kitten_path %></li>
</ul>

<div class="kitten-list">
  <% @kittens.each do |kitten| %>
    <%= render "kitten", kitten: kitten %>
  <% end %>
</div>
